<h1>Public Articles</h1>

<div class="container">

  <%#= search_form_for @search do |f| %>
<!--    <div class="field">-->
      <%#= f.label :name_cont, "Search: Name Contains"%>
      <%#= f.text_field :name_cont, class: "form-control" %>
<!--    </div>-->
<!--    <div class="actions">-->
      <%#= f.submit "Search", class: "btn btn-success"%>
<!--    </div>-->
  <%# end %>

  <% @articles.each do |article| %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"> <%= article.headline%> </h4>
      <%#= article.headline%>
      <%#= @cleansedHeadline %>
      <p class="card-text"> <%= article.body%> </p>
      <%#= @cleansedBody %>
      <%#= article.body%>
      <h5 class="card-text">Published By: <%= article.editor.email %></h5>

      <br>

      <% if current_user || current_editor%>
          <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Show', article %>
          </button>
        <% end %>

      <% if current_editor %>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Edit', edit_article_path(article) %>
        </button>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>

      <%end %>

    </div>
  </div>
  <% end %>

  <br>

  <% if current_editor %>

    <button type="button" class="btn btn-outline-primary">
      <%= link_to 'New Article', new_article_path %>
    </button>

  <%end %>

</div>

<%= render 'layouts/footer' %>

