<% require 'ProfanityFilter' %>

<h1>Public Articles</h1>

<div class="container">

  <br>

  <!-- Search functionality -->
  <%= form_tag articles_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>

    <br>
    <%= submit_tag "Search", class: "btn btn-primary" %>

  <% end %>
  <br>

  <!-- View for articles which is looped through and displayed as a cardview, with the profanity filter called on each input -->
  <% @articles.each do |article| %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"> <%= ProfanityFilter.check(article.headline) %> </h4>
      <p class="card-text"> <%= ProfanityFilter.check(article.body) %> </p>
      <h5 class="card-text">Published By: <%= article.editor.email %></h5>

      <br>

      <!-- Display show for both users -->
      <% if current_user || current_editor %>
          <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Show', article %>
          </button>
        <% end %>

      <!-- Only display Edit, Delete for editors -->
      <% if current_editor %>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Edit', edit_article_path(article) %>
        </button>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>

      <%end %>

    </div>
  </div>
  <% end %>

  <br>

  <!-- Only display New Article for editors -->
  <% if current_editor %>

    <button type="button" class="btn btn-outline-primary">
      <%= link_to 'New Article', new_article_path %>
    </button>

  <%end %>

</div>

<!-- Render in footer partial -->
<%= render 'layouts/footer' %>

