<h1>Validated</h1>
<%= @headlineInput %>
</p>
<%= @headlineResult %>
</p>
<%= @bodyInput%>
</p>
<%= @bodyResult %>


<div class="container">

    <div class="card">
      <div class="card-block">
        <h4 class="card-title"> You said: <%= @headlineResult%></h4>
        <p class="card-text"> You said: <%= @bodyResult %></p>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Back', articles_path %>
        </button>

      </div>
    </div>

  <br>

</div>
