
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Welcome to NewsWave</h2>
    <p class="lead">For the most up-to-date news, all in the one place!</p>
  </div>
</div>

<div class="container">

  <div class="row">

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

  </div>

  <div class="row">

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

  </div>

  <div class="row">

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

  </div>

  <div class="row">

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

  </div>

  <div class="row">

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

    <%= render "layouts/cardview" %>

  </div>
</div>