<!DOCTYPE html>
<html>
<head>
  <title> NewsWave </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous">
</head>

<%= render 'layouts/nav' %>

<div class="container">

  <body>

  <%= render 'layouts/alerts' %>
  <%= yield %>

  </body>

</div>
</html>
