<% require 'ProfanityFilter' %>

<h1>Comments from Article: <%= ProfanityFilter.check(@article.headline) %></h1>

<!-- View for article comments which is looped through and displayed as a cardview, with the profanity filter called on the input -->
<% for comment in @comments %>
  <div class="card">
    <div class="card-block">
      <h5 class="card-text"> Commented By: <%= comment.user.email %> </h5>
      <p class="card-text"> <%= ProfanityFilter.check(comment.content) %></p>

      <br>

      <!-- Only display, Show Edit, Delete for User -->
      <% if current_user %>

        <button type="button" class="btn btn-outline-primary">
          <%= link_to 'Show', article_comment_path(@article, comment)%>
        </button>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
        </button>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
          <%= link_to 'Delete', article_comment_path(@article, comment), data: { confirm: 'Are you sure?' } , :method => :delete %>
        </button>

      <% end %>

    </div>
  </div>

<% end %>

<!-- Display Back for both users -->
<% if current_user || current_editor%>

  <button type="button" class="btn btn-outline-primary" style="alignment: right">
    <%= link_to 'Back', article_path(@article) %>
  </button>

<%end %>